html {
  height: 100vh;
  width: 100vw;
 /* background-image: url('https://i.pinimg.com/736x/f3/1a/75/f31a75955393277b4e13343f74a0624d.jpg');*/
  background-image: url('https://media.istockphoto.com/vectors/graph-paper-background-vector-blue-plotting-millimeter-drawing-ruler-vector-id871208872?b=1&k=20&m=871208872&s=170667a&w=0&h=wEU2XaVURUKaA1uve6hvD44rwM5Q-w9Nju_XKAqtMUI=');
}

@font-face{
  font-family: dorkDiary;
  src: url('Dpdorkdiary-P267.ttf');
}

*{
  font-family: dorkDiary;
}

.intro{
  text-align: center;
  font-size: 1.3em;
}

#winner_announcement{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
  font-size: 2.5em;
}


/* slide-in effect */
.slide_in{
  animation: slidein 0.7s ease-in;
}

.slide_out{
  transform: translate(50px);
  animation: slideout .4s ease-out;
}


@keyframes slidein {
  0%{
    transform: skewX(53deg) translateX(-500px);
    opacity: 0;
  }
  60%{
    transform: translateX(0px);
  }
  62%{
    transform: skewX(0deg) translateX(30px);
  }
  70%{
    transform: skew(-20deg);
    opacity: 1;
  }
  80%{
    transform: skew(0deg) translateX(0);
  }
  90%{
    transform: skew(-5deg);
  }
  100%{
    transform: skewX(0deg);
  }
}

@keyframes slideout {
  0%{
    transform: translateX(-15px);
    opacity: 1;
  }
  60%{
    transform: translateX(0px);
  }
  80%{
    transform: translateX(100px);
  }
  100%{
    opacity: 0;
    transform: translateX(100px);
  }
}

/* end of slide-in and slide-out effect */
/* fade-in */

.fade-in{
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* grid */

#gameBoard{
  max-width: 300px;
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: auto;
  margin-top: -350px;
}

.hidden{
  opacity: 0;
}

.visible{
  position: relative;
}

.gridItem{
  background-color: lightblue;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  border-radius: 5px;
}

.gridItem:hover {
  transform: scale(1.1);
}



/* restart button styling */

/* CSS */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #0e295e 0%,#718ec91e  51%, #6b2213  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  transform: scale(1.10);
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.restartBox{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
